In [9]:
# -*- coding: utf-8-*-

## Задание №1
# Хомутов Евгений БПМ-151

Отключим предупреждения Jupyter Notebook

In [10]:
import warnings
warnings.filterwarnings('ignore')

http://snakeproject.ru/rubric/article.php?art=python_mysql

Импорт библиотеки для работы с MySQL сервером

In [11]:
import pymysql

In [12]:
pymysql.install_as_MySQLdb()

In [13]:
import MySQLdb

Подключение к локальному серверу MySQL

In [14]:
Connection = MySQLdb.connect(host='localhost',database='mysql',user='root',password='root', charset = "utf8", use_unicode = True
                            , init_command='SET NAMES UTF8')

Создание базы данных, если она не существует, с именем task1

In [15]:
Connection.query('CREATE DATABASE IF NOT EXISTS task1')

1

Создание курсора и настройка кодировки

In [16]:
Cursor = Connection.cursor()

In [17]:
Cursor.execute('SET NAMES `utf8`')

0

Создание таблиц

In [18]:
Cursor.execute("CREATE TABLE IF NOT EXISTS supplier( idS VARCHAR(6) PRIMARY KEY NOT NULL, surname NCHAR(20), rating INT, city NCHAR(20) )")

0

In [19]:
Cursor.execute("CREATE TABLE IF NOT EXISTS products ( idP VARCHAR(6) PRIMARY KEY NOT NULL, name NCHAR(20),color NCHAR(20) ,weight INT, city NCHAR(20))")

0

In [20]:
Cursor.execute("CREATE TABLE IF NOT EXISTS item ( idJ VARCHAR(6) PRIMARY KEY NOT NULL , name NCHAR(20), city NCHAR(20))")

0

In [21]:
Cursor.execute("CREATE TABLE IF NOT EXISTS supply ( idS VARCHAR(6) NOT NULL, idP VARCHAR(6) NOT NULL, idJ VARCHAR(6) NOT NULL, number int)")

0

Добавление столбца deliverydate в таблицу supply

In [22]:
Cursor.execute("ALTER TABLE supply ADD deliverydate DATE")

0

Заполнение таблиц

In [23]:
Cursor.execute("INSERT INTO supplier VALUES('S1','Smith',20,'London')")
Cursor.execute("INSERT INTO supplier VALUES('S2','Jones',10,'Paris')")
Cursor.execute("INSERT INTO supplier VALUES('S3','Blake',30,'Paris')")
Cursor.execute("INSERT INTO supplier VALUES('S4','Clarke',20,'London')")
Cursor.execute("INSERT INTO supplier VALUES('S5','Adams',30,'Athens')")

1

In [24]:
Cursor.execute("SELECT * FROM supplier")
for i in Cursor:
    print(i)

('S1', 'Smith', 20, 'London')
('S2', 'Jones', 10, 'Paris')
('S3', 'Blake', 30, 'Paris')
('S4', 'Clarke', 20, 'London')
('S5', 'Adams', 30, 'Athens')

In [25]:
Cursor.execute("INSERT INTO products VALUES('P1','nut','red',12,'London')")
Cursor.execute("INSERT INTO products VALUES('P2','bolt','green',17,'Paris')")
Cursor.execute("INSERT INTO products VALUES('P3','screw','blue',17,'Rome')")
Cursor.execute("INSERT INTO products VALUES('P4','screw','red',14,'London')")
Cursor.execute("INSERT INTO products VALUES('P5','tappet','blue',12,'Paris')")
Cursor.execute("INSERT INTO products VALUES('P6','bloom','red',19,'London')")

1

In [26]:
Cursor.execute("SELECT * FROM products")
for i in Cursor:
    print(i)

('P1', 'nut', 'red', 12, 'London')
('P2', 'bolt', 'green', 17, 'Paris')
('P3', 'screw', 'blue', 17, 'Rome')
('P4', 'screw', 'red', 14, 'London')
('P5', 'tappet', 'blue', 12, 'Paris')
('P6', 'bloom', 'red', 19, 'London')

In [27]:
Cursor.execute("INSERT INTO item VALUES('J1','hard drive','Paris')")
Cursor.execute("INSERT INTO item VALUES('J2','perforator','Rome')")
Cursor.execute("INSERT INTO item VALUES('J3','redear','Athens')")
Cursor.execute("INSERT INTO item VALUES('J4','printer','Athens')")
Cursor.execute("INSERT INTO item VALUES('J5','floppy disk','London')")
Cursor.execute("INSERT INTO item VALUES('J6','terminal','Oslo')")
Cursor.execute("INSERT INTO item VALUES('J7','tape','London')")

1

In [28]:
Cursor.execute("SELECT * FROM item")
for i in Cursor:
    print(i)

('J1', 'hard drive', 'Paris')
('J2', 'perforator', 'Rome')
('J3', 'redear', 'Athens')
('J4', 'printer', 'Athens')
('J5', 'floppy disk', 'London')
('J6', 'terminal', 'Oslo')
('J7', 'tape', 'London')

In [29]:
Cursor.execute("INSERT INTO supply VALUES('S1','P1','J1',200, Null)")
Cursor.execute("INSERT INTO supply VALUES('S1','P1','J4',700, Null)")

Cursor.execute("INSERT INTO supply VALUES('S2','P3','J1',400, Null)")
Cursor.execute("INSERT INTO supply VALUES('S2','P3','J2',200, Null)")
Cursor.execute("INSERT INTO supply VALUES('S2','P3','J3',200, Null)")
Cursor.execute("INSERT INTO supply VALUES('S2','P3','J4',500, Null)")
Cursor.execute("INSERT INTO supply VALUES('S2','P3','J5',600, Null)")
Cursor.execute("INSERT INTO supply VALUES('S2','P3','J6',400, Null)")
Cursor.execute("INSERT INTO supply VALUES('S2','P3','J7',800, Null)")
Cursor.execute("INSERT INTO supply VALUES('S2','P5','J2',100, Null)")

Cursor.execute("INSERT INTO supply VALUES('S3','P3','J1',200, Null)")
Cursor.execute("INSERT INTO supply VALUES('S3','P4','J2',500, Null)")

Cursor.execute("INSERT INTO supply VALUES('S4','P6','J3',300, Null)")
Cursor.execute("INSERT INTO supply VALUES('S4','P6','J7',300, Null)")

Cursor.execute("INSERT INTO supply VALUES('S5','P2','J2',200, Null)")
Cursor.execute("INSERT INTO supply VALUES('S5','P2','J4',100, Null)")
Cursor.execute("INSERT INTO supply VALUES('S5','P5','J5',500, Null)")
Cursor.execute("INSERT INTO supply VALUES('S5','P5','J7',100, Null)")
Cursor.execute("INSERT INTO supply VALUES('S5','P6','J2',200, Null)")
Cursor.execute("INSERT INTO supply VALUES('S5','P1','J4',100, Null)")
Cursor.execute("INSERT INTO supply VALUES('S5','P3','J4',200, Null)")
Cursor.execute("INSERT INTO supply VALUES('S5','P4','J4',800, Null)")
Cursor.execute("INSERT INTO supply VALUES('S5','P5','J4',400, Null)")
Cursor.execute("INSERT INTO supply VALUES('S5','P6','J4',500, Null)")

1

In [30]:
Cursor.execute("SELECT * FROM supply")
for i in Cursor:
    print(i)

('S1', 'P1', 'J1', 200, None)
('S1', 'P1', 'J4', 700, None)
('S2', 'P3', 'J1', 400, None)
('S2', 'P3', 'J2', 200, None)
('S2', 'P3', 'J3', 200, None)
('S2', 'P3', 'J4', 500, None)
('S2', 'P3', 'J5', 600, None)
('S2', 'P3', 'J6', 400, None)
('S2', 'P3', 'J7', 800, None)
('S2', 'P5', 'J2', 100, None)
('S3', 'P3', 'J1', 200, None)
('S3', 'P4', 'J2', 500, None)
('S4', 'P6', 'J3', 300, None)
('S4', 'P6', 'J7', 300, None)
('S5', 'P2', 'J2', 200, None)
('S5', 'P2', 'J4', 100, None)
('S5', 'P5', 'J5', 500, None)
('S5', 'P5', 'J7', 100, None)
('S5', 'P6', 'J2', 200, None)
('S5', 'P1', 'J4', 100, None)
('S5', 'P3', 'J4', 200, None)
('S5', 'P4', 'J4', 800, None)
('S5', 'P5', 'J4', 400, None)
('S5', 'P6', 'J4', 500, None)

# Задание 1
Выдать номера и фамилии поставщиков, поставляющих по крайней мере одну деталь, поставляемую по крайней мере одним поставщиком, который поставляет по крайней мере одну красную деталь.

In [31]:
Cursor.execute("SELECT idS, surname FROM supplier WHERE idS in "
              + "( SELECT idS FROM supply WHERE  idP in "
              + "(SELECT idP FROM products WHERE ( color = 'red'  OR name in (SELECT name FROM products WHERE color = 'red' ) ) )"
               + "GROUP BY idS ) " 
              )
for i in Cursor:
    print(i)

('S1', 'Smith')
('S2', 'Jones')
('S3', 'Blake')
('S4', 'Clarke')
('S5', 'Adams')

# Задание 2
Получить полный список деталей для всех изделий, изготавливаемых в Лондоне.

In [32]:
Cursor.execute("SELECT idP FROM supply WHERE idJ in (SELECT idJ from item WHERE city = 'London' ) GROUP BY idP")
for i in Cursor:
    print(i)

('P3',)
('P6',)
('P5',)

# Задание 3
Построить таблицу, содержащую список номеров деталей, которые поставляются либо каким-нибудь поставщиком из Лондона, либо для какого-либо изделия в Лондон.

In [33]:
Cursor.execute(
    " CREATE TEMPORARY TABLE IF NOT EXISTS t1 (SELECT idP FROM supply WHERE ( idJ in (SELECT idJ from item WHERE city = 'London' ) )" 
    +
    " OR ( idS in (SELECT idS from supplier WHERE city = 'London' )) GROUP BY idP ) "
)
Cursor.execute(
    "SELECT * FROM t1"
)
for i in Cursor:
    print(i)

('P1',)
('P3',)
('P6',)
('P5',)

# Задание 4
Вставить в таблицу S нового поставщика с номером S10 с фамилией Уайт из города Нью-Йорк с неизвестным рейтингом.

In [34]:
Cursor.execute("INSERT INTO supplier VALUES('S10','Wight',Null,'New-York')")
Cursor.execute("SELECT * FROM supplier")
for i in Cursor:
    print(i)

('S1', 'Smith', 20, 'London')
('S10', 'Wight', None, 'New-York')
('S2', 'Jones', 10, 'Paris')
('S3', 'Blake', 30, 'Paris')
('S4', 'Clarke', 20, 'London')
('S5', 'Adams', 30, 'Athens')

# Задание 5
Для каждой поставляемой для некоторого изделия детали выдать ее номер, номер изделия и соответствующее общее количество деталей.

In [35]:
Cursor.execute("SELECT idP, idJ, number FROM supply")
for i in Cursor:
    print(i)

('P1', 'J1', 200)
('P1', 'J4', 700)
('P3', 'J1', 400)
('P3', 'J2', 200)
('P3', 'J3', 200)
('P3', 'J4', 500)
('P3', 'J5', 600)
('P3', 'J6', 400)
('P3', 'J7', 800)
('P5', 'J2', 100)
('P3', 'J1', 200)
('P4', 'J2', 500)
('P6', 'J3', 300)
('P6', 'J7', 300)
('P2', 'J2', 200)
('P2', 'J4', 100)
('P5', 'J5', 500)
('P5', 'J7', 100)
('P6', 'J2', 200)
('P1', 'J4', 100)
('P3', 'J4', 200)
('P4', 'J4', 800)
('P5', 'J4', 400)
('P6', 'J4', 500)

# Задание 6
Получить номера изделий, для которых детали полностью поставляет поставщик S2.

In [36]:
Cursor.execute(
    " SELECT idJ FROM supply WHERE idJ not in (SELECT idJ FROM supply WHERE idS in (SELECT idS FROM supply WHERE idS  != 'S2')  GROUP BY idJ) " 
)
for i in Cursor:
    print(i)

('J6',)

Удаление таблиц

In [37]:
Cursor.execute("DROP TABLE supplier")
Cursor.execute("DROP TABLE products")
Cursor.execute("DROP TABLE item")
Cursor.execute("DROP TABLE supply")

0

Закрытие курсора

In [38]:
Cursor.close()

Удаление базы данных

In [39]:
Connection.query('DROP DATABASE task1')

0

Сохранение изменения на сервере

In [40]:
Connection.commit()

Отключение от сервера

In [41]:
Connection.close()