In [1]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import pymysql

In [4]:
pymysql.install_as_MySQLdb()

In [5]:
import MySQLdb

In [9]:
Connection = MySQLdb.connect(host='localhost',database='morgue',user='root',password='root', charset = "utf8", use_unicode = True
                            , init_command='SET NAMES UTF8')

In [10]:
#Connection.query('USE DATABASE')

In [11]:
Cursor = Connection.cursor()

In [12]:
Cursor.execute('SET NAMES `utf8`')

0

In [116]:
Cursor.execute("SELECT * FROM insurable")
for i in Cursor:
    print(i)

In [182]:
Cursor.execute("SELECT * FROM diagnosis")
for i in Cursor:
    print(i)

In [19]:
Cursor.close()

In [20]:
Connection.commit()

In [8]:
Connection.close()

/* 10-20 запросов  
1) Добавление / Удаление тела ++      
2) Вывести тела за определенную дату +    
3) Вывести тела, у которых не совпадает дата смерти и дата прибытия +  
4) Вывести тела, которым поставил диагнозы определнный врач  
5) Вывести все диагнозы конкретного тела  
5) Вывести все тела с конкретным диагнозом  
6) Вывести все тела с определленой страховой  
7) Вывести все тела из опредленного морга  
8) Вывести всех врачей из определленого морга  
9) Добавить / Удаление карты  
10) Из опредленного морга определенным числом  
11) Вывести все диагнозы которые ставил определенный врач   
12) Люди которые умерли в определенный период +   
13) Добавить / удалить врача  
14) Вывести тела рожденные до/ после даты ++   
15) Вывести страховые для каждого тела  
*/

/* 10-20 запросов  
 
1) Вывести тела, которым поставил диагнозы определнный врач  
2) Вывести все диагнозы конкретного тела  
3) Вывести все тела с конкретным диагнозом  
4) Вывести все тела с определленой страховой  
5) Вывести все тела из опредленного морга  
5) Вывести всех врачей из определленого морга  
6) Добавить / Удаление карты  
7) Из опредленного морга определенным числом  
8) Вывести все диагнозы которые ставил определенный врач   

9) Добавить / удалить врача  
 
10) Вывести страховые для каждого тела  
11) Телефоны врачей которые ставили диагнозы определнному телу   
*/

In [27]:
def add_body(dictionary):
    #print("INSERT INTO body VALUES ({number},{sex}, '{surname}', '{name}', '{date_arrived}', '{date_birth}','{date_death}', {id_insurable});".format(**dictionary))
    Cursor.execute("INSERT INTO body VALUES ({number},{sex}, '{surname}', '{name}', '{date_arrived}', '{date_birth}','{date_death}', {id_insurable});".format(**dictionary))
    for i in Cursor:
        print(i)

In [28]:
# '2018-09-23', '1956-12-12', '2018-09-23', 1
add_body(
    {'number':21,'sex':0,'surname':'Vaslav','name':'Jo','date_arrived':'2018-09-23','date_birth':'1956-12-12','date_death':'2018-09-23','id_insurable':1})

INSERT INTO body VALUES (21,0, 'Vaslav', 'Jo', '2018-09-23', '1956-12-12','2018-09-23', 1);

In [ ]:
def example(dictionary):
    command = "DELETE FROM body WHERE body_id={number}".format(**dictionary)
    print(command)
    Cursor.execute(command)
    for i in Cursor:
        print(i)

In [43]:
def delete_body(dictionary):
    command = "DELETE FROM body WHERE id_body={number}".format(**dictionary)
    print(command)
    Cursor.execute(command)
    for i in Cursor:
        print(i)

In [44]:
delete_body({'number':21})

DELETE FROM body WHERE id_body=21

In [48]:
def show_body(dictionary):
    command = "SELECT * FROM body WHERE date_arrived = '{date}' ".format(**dictionary)
    print(command)
    Cursor.execute(command)
    for i in Cursor:
        print(i)

In [49]:
show_body({'date':'2018-09-23'})

SELECT * FROM body WHERE date_arrived = '2018-09-23'
(1, b'0', 'Zhdanov', 'Petr', datetime.date(2018, 9, 23), datetime.date(1956, 12, 12), datetime.date(2018, 9, 23), 1)
(4, b'1', 'Pereprugnov', 'Larissa', datetime.date(2018, 9, 23), datetime.date(1976, 10, 12), datetime.date(2018, 9, 23), 1)

In [50]:
def show_body_not_equale(dictionary):
    command = "SELECT * FROM body WHERE date_arrived != date_death ".format(**dictionary)
    print(command)
    Cursor.execute(command)
    for i in Cursor:
        print(i)

In [52]:
show_body_not_equale({})

SELECT * FROM body WHERE date_arrived != date_death
(2, b'0', 'Pipikov', 'Roman', datetime.date(2018, 9, 21), datetime.date(1986, 5, 14), datetime.date(2018, 9, 20), 1)
(5, b'0', 'Kekov', 'Parsley', datetime.date(2018, 9, 21), datetime.date(1990, 1, 23), datetime.date(2018, 9, 20), 2)
(8, b'0', 'Purov', 'Muri', datetime.date(2018, 9, 21), datetime.date(1979, 4, 6), datetime.date(2018, 9, 22), 2)
(9, b'0', 'dead men', 'Hercules', datetime.date(2018, 9, 18), datetime.date(1959, 3, 6), datetime.date(2018, 9, 17), 2)
(10, b'0', 'Purov', 'Muri', datetime.date(2018, 9, 21), datetime.date(1965, 11, 24), datetime.date(2018, 9, 22), 1)
(20, b'0', 'Corpse', 'AYVA', datetime.date(2018, 9, 21), datetime.date(1956, 11, 19), datetime.date(2018, 9, 20), 1)

In [64]:
def show_body_between(dictionary):
    command = "SELECT * FROM body WHERE date_death BETWEEN '{date1}' AND '{date2}'".format(**dictionary)
    print(command)
    Cursor.execute(command)
    for i in Cursor:
        print(i)

In [65]:
show_body_between({'date1':'2018-09-21','date2':'2018-09-23'})

SELECT * FROM body WHERE date_death BETWEEN '2018-09-21' AND '2018-09-23'
(1, b'0', 'Zhdanov', 'Petr', datetime.date(2018, 9, 23), datetime.date(1956, 12, 12), datetime.date(2018, 9, 23), 1)
(4, b'1', 'Pereprugnov', 'Larissa', datetime.date(2018, 9, 23), datetime.date(1976, 10, 12), datetime.date(2018, 9, 23), 1)
(8, b'0', 'Purov', 'Muri', datetime.date(2018, 9, 21), datetime.date(1979, 4, 6), datetime.date(2018, 9, 22), 2)
(10, b'0', 'Purov', 'Muri', datetime.date(2018, 9, 21), datetime.date(1965, 11, 24), datetime.date(2018, 9, 22), 1)

In [70]:
def show_body_before(dictionary):
    command = "SELECT * FROM body WHERE date_birth < '{date}'".format(**dictionary)
    print(command)
    Cursor.execute(command)
    for i in Cursor:
        print(i)

In [71]:
show_body_before({'date':'1970-11-19'})

SELECT * FROM body WHERE date_birth < '1970-11-19'
(1, b'0', 'Zhdanov', 'Petr', datetime.date(2018, 9, 23), datetime.date(1956, 12, 12), datetime.date(2018, 9, 23), 1)
(6, b'0', 'Zhdunikov', 'Petr', datetime.date(2018, 9, 19), datetime.date(1967, 3, 12), datetime.date(2018, 9, 19), 1)
(9, b'0', 'dead men', 'Hercules', datetime.date(2018, 9, 18), datetime.date(1959, 3, 6), datetime.date(2018, 9, 17), 2)
(10, b'0', 'Purov', 'Muri', datetime.date(2018, 9, 21), datetime.date(1965, 11, 24), datetime.date(2018, 9, 22), 1)
(11, b'1', 'Pupyrkina', 'Antonina', datetime.date(2018, 9, 20), datetime.date(1965, 11, 19), datetime.date(2018, 9, 20), 1)
(12, b'1', 'Pup', 'Vladislav', datetime.date(2018, 9, 20), datetime.date(1919, 11, 19), datetime.date(2018, 9, 20), 1)
(16, b'1', 'Pup', 'Tonic', datetime.date(2018, 9, 20), datetime.date(1925, 6, 14), datetime.date(2018, 9, 20), 2)
(17, b'0', 'Akakaka', 'Akaki', datetime.date(2018, 9, 18), datetime.date(1953, 3, 2), datetime.date(2018, 9, 18), 1)
(19, b'0', 'Homeless', 'Vladislav', datetime.date(2018, 9, 20), datetime.date(1919, 9, 19), datetime.date(2018, 9, 20), 1)
(20, b'0', 'Corpse', 'AYVA', datetime.date(2018, 9, 21), datetime.date(1956, 11, 19), datetime.date(2018, 9, 20), 1)

In [72]:
def show_body_after(dictionary):
    command = "SELECT * FROM body WHERE date_birth > '{date}'".format(**dictionary)
    print(command)
    Cursor.execute(command)
    for i in Cursor:
        print(i)

In [73]:
show_body_after({'date':'1970-11-19'})

SELECT * FROM body WHERE date_birth > '1970-11-19'
(2, b'0', 'Pipikov', 'Roman', datetime.date(2018, 9, 21), datetime.date(1986, 5, 14), datetime.date(2018, 9, 20), 1)
(3, b'1', 'Pupkova', 'Maria', datetime.date(2018, 9, 20), datetime.date(1980, 11, 1), datetime.date(2018, 9, 20), 2)
(4, b'1', 'Pereprugnov', 'Larissa', datetime.date(2018, 9, 23), datetime.date(1976, 10, 12), datetime.date(2018, 9, 23), 1)
(5, b'0', 'Kekov', 'Parsley', datetime.date(2018, 9, 21), datetime.date(1990, 1, 23), datetime.date(2018, 9, 20), 2)
(7, b'1', 'Populyatskaya', 'Yaroslav', datetime.date(2018, 9, 20), datetime.date(1983, 9, 17), datetime.date(2018, 9, 20), 2)
(8, b'0', 'Purov', 'Muri', datetime.date(2018, 9, 21), datetime.date(1979, 4, 6), datetime.date(2018, 9, 22), 2)
(14, b'0', 'Loa', 'Hua', datetime.date(2018, 9, 18), datetime.date(1992, 11, 25), datetime.date(2018, 9, 18), 1)
(15, b'0', 'Nenene', 'Peak', datetime.date(2018, 9, 20), datetime.date(1985, 7, 30), datetime.date(2018, 9, 20), 2)
(18, b'0', 'Pup', 'Vladislav', datetime.date(2018, 9, 17), datetime.date(1987, 2, 4), datetime.date(2018, 9, 17), 2)

/* 10-20 запросов  
3) Вывести все тела из опредленного морга  
4) Вывести всех врачей из определленого морга 

5) Из опредленного морга определенным числом  
6) Вывести все диагнозы которые ставил определенный врач   
*/

In [ ]:
def example(dictionary):
    command = "DELETE FROM body WHERE body_id={number}".format(**dictionary)
    print(command)
    Cursor.execute(command)
    for i in Cursor:
        print(i)

In [75]:
def delete_doctor(dictionary):
    command = "DELETE FROM pathologist WHERE id_doctor={number}".format(**dictionary)
    print(command)
    Cursor.execute(command)
    for i in Cursor:
        print(i)

In [78]:
def add_doctor(dictionary):
    command = "INSERT INTO pathologist VALUES({number},{id_morgue},'{surname}','{name}','{phone}','{addres}')".format(**dictionary)
    print(command)
    Cursor.execute(command)
    for i in Cursor:
        print(i)

In [79]:
add_doctor({'number':10,'id_morgue':1,'surname':'fdfs','name':'dsd','phone':'21','addres':'dsad'})

INSERT INTO pathologist VALUES(10,1,'fdfs','dsd','21','dsad')

In [81]:
delete_doctor({'number':10})

DELETE FROM pathologist WHERE id_doctor=10

In [83]:
def add_card(dictionary):
    command = "INSERT INTO card VALUES({id_body},{id_diagnosis},{id_doctor})".format(**dictionary)
    print(command)
    Cursor.execute(command)
    for i in Cursor:
        print(i)

In [87]:
def delete_card(dictionary):
    command = "DELETE FROM card WHERE (id_body={id_body} AND id_diagnosis = {id_diagnosis})".format(**dictionary)
    print(command)
    Cursor.execute(command)
    for i in Cursor:
        print(i)

In [85]:
add_card({'id_body':1,'id_diagnosis':1,'id_doctor':1})

INSERT INTO card VALUES(1,1,1)

In [88]:
delete_card({'id_body':1,'id_diagnosis':1})

DELETE FROM card WHERE (id_body=1 AND id_diagnosis = 1)

In [89]:
def show_body_insurable(dictionary):
    command = "SELECT * FROM body WHERE id_insurable = '{id_insurable}'".format(**dictionary)
    print(command)
    Cursor.execute(command)
    for i in Cursor:
        print(i)

In [90]:
show_body_insurable({'id_insurable':1})

SELECT * FROM body WHERE id_insurable = '1'
(1, b'0', 'Zhdanov', 'Petr', datetime.date(2018, 9, 23), datetime.date(1956, 12, 12), datetime.date(2018, 9, 23), 1)
(2, b'0', 'Pipikov', 'Roman', datetime.date(2018, 9, 21), datetime.date(1986, 5, 14), datetime.date(2018, 9, 20), 1)
(4, b'1', 'Pereprugnov', 'Larissa', datetime.date(2018, 9, 23), datetime.date(1976, 10, 12), datetime.date(2018, 9, 23), 1)
(6, b'0', 'Zhdunikov', 'Petr', datetime.date(2018, 9, 19), datetime.date(1967, 3, 12), datetime.date(2018, 9, 19), 1)
(10, b'0', 'Purov', 'Muri', datetime.date(2018, 9, 21), datetime.date(1965, 11, 24), datetime.date(2018, 9, 22), 1)
(11, b'1', 'Pupyrkina', 'Antonina', datetime.date(2018, 9, 20), datetime.date(1965, 11, 19), datetime.date(2018, 9, 20), 1)
(12, b'1', 'Pup', 'Vladislav', datetime.date(2018, 9, 20), datetime.date(1919, 11, 19), datetime.date(2018, 9, 20), 1)
(13, b'1', None, None, datetime.date(2018, 9, 20), None, datetime.date(2018, 9, 20), 1)
(14, b'0', 'Loa', 'Hua', datetime.date(2018, 9, 18), datetime.date(1992, 11, 25), datetime.date(2018, 9, 18), 1)
(17, b'0', 'Akakaka', 'Akaki', datetime.date(2018, 9, 18), datetime.date(1953, 3, 2), datetime.date(2018, 9, 18), 1)
(19, b'0', 'Homeless', 'Vladislav', datetime.date(2018, 9, 20), datetime.date(1919, 9, 19), datetime.date(2018, 9, 20), 1)
(20, b'0', 'Corpse', 'AYVA', datetime.date(2018, 9, 21), datetime.date(1956, 11, 19), datetime.date(2018, 9, 20), 1)

In [161]:
# body.body_id, body.surname, body.name, insurable.name
def show_insurable(dictionary):
    # SECET можно доделать
    command = "SELECT body.id_body, body.surname, body.name, insurable.name FROM body LEFT JOIN insurable ON body.id_insurable = insurable.id_insurable".format(**dictionary)
    print(command)
    Cursor.execute(command)
    for i in Cursor:
        print(i)

In [162]:
show_insurable({})

SELECT body.id_body, body.surname, body.name, insurable.name FROM body LEFT JOIN insurable ON body.id_insurable = insurable.id_insurable
(1, 'Zhdanov', 'Petr', 'Name1')
(2, 'Pipikov', 'Roman', 'Name1')
(3, 'Pupkova', 'Maria', 'Name2')
(4, 'Pereprugnov', 'Larissa', 'Name1')
(5, 'Kekov', 'Parsley', 'Name2')
(6, 'Zhdunikov', 'Petr', 'Name1')
(7, 'Populyatskaya', 'Yaroslav', 'Name2')
(8, 'Purov', 'Muri', 'Name2')
(9, 'dead men', 'Hercules', 'Name2')
(10, 'Purov', 'Muri', 'Name1')
(11, 'Pupyrkina', 'Antonina', 'Name1')
(12, 'Pup', 'Vladislav', 'Name1')
(13, None, None, 'Name1')
(14, 'Loa', 'Hua', 'Name1')
(15, 'Nenene', 'Peak', 'Name2')
(16, 'Pup', 'Tonic', 'Name2')
(17, 'Akakaka', 'Akaki', 'Name1')
(18, 'Pup', 'Vladislav', 'Name2')
(19, 'Homeless', 'Vladislav', 'Name1')
(20, 'Corpse', 'AYVA', 'Name1')

In [163]:
# Вывести тела, которым поставил диагнозы определнный врач  
def show_body_doctor(dictionary):
    command = "SELECT body.id_body, body.surname, body.name FROM body LEFT JOIN card ON body.id_body = card.id_body WHERE card.id_doctor = {id_doctor} ".format(**dictionary)
    print(command)
    Cursor.execute(command)
    for i in Cursor:
        print(i)

In [164]:
show_body_doctor({'id_doctor':1})

SELECT body.id_body, body.surname, body.name FROM body LEFT JOIN card ON body.id_body = card.id_body WHERE card.id_doctor = 1
(1, 'Zhdanov', 'Petr')
(11, 'Pupyrkina', 'Antonina')
(20, 'Corpse', 'AYVA')

In [179]:
# Вывести все диагнозы конкретного тела
def show_body_diagnosis(dictionary):
    #command = "SELECT body.id_body,body.surname, body.name, diagnosis.name FROM (body LEFT JOIN card ON body.id_body = card.id_body) LEFT JOIN diagnosis ON card.id_diagnosis = diagnosis.id_diagnosis WHERE card.id_body = {id_body}".format(**dictionary)
    command = "SELECT diagnosis.name FROM card LEFT JOIN diagnosis ON diagnosis.id_diagnosis = card.id_diagnosis WHERE card.id_body = {id_body}".format(**dictionary)
    print(command)
    Cursor.execute(command)
    for i in Cursor:
        print(i)

In [180]:
show_body_diagnosis({'id_body':4})

SELECT diagnosis.name FROM card LEFT JOIN diagnosis ON diagnosis.id_diagnosis = card.id_diagnosis WHERE card.id_body = 4
(None,)
(None,)

In [183]:
# Вывести все тела с конкретным диагнозом 
def show_body_with_corrent_diagnosis(dictionary):
    command = "SELECT body.id_body, body.name, body.surname FROM card LEFT JOIN body ON card.id_body = body.id_body WHERE card.id_diagnosis = {id_diagnosis}".format(**dictionary)
    print(command)
    Cursor.execute(command)
    for i in Cursor:
        print(i)

In [184]:
show_body_with_corrent_diagnosis({'id_diagnosis':2})

SELECT body.id_body, body.name, body.surname FROM card LEFT JOIN body ON card.id_body = body.id_body WHERE card.id_diagnosis = 2
(1, 'Petr', 'Zhdanov')
(6, 'Petr', 'Zhdunikov')
(7, 'Yaroslav', 'Populyatskaya')
(10, 'Muri', 'Purov')
(12, 'Vladislav', 'Pup')
(17, 'Akaki', 'Akakaka')

/* 10-20 запросов   

6) Вывести все диагнозы которые ставил определенный врач   
*/

In [ ]:
def example(dictionary):
    command = "DELETE FROM body WHERE body_id={number}".format(**dictionary)
    print(command)
    Cursor.execute(command)
    for i in Cursor:
        print(i)

In [185]:
def doctors_from_morgue(dictionary):
    command = "SELECT pathologist.id_doctor, pathologist.name, pathologist.surname FROM pathologist WHERE id_morgue={id_morgue}".format(**dictionary)
    print(command)
    Cursor.execute(command)
    for i in Cursor:
        print(i)

In [186]:
doctors_from_morgue({'id_morgue':1})

SELECT pathologist.id_doctor, pathologist.name, pathologist.surname FROM pathologist WHERE id_morgue=1
(1, 'Vlad', 'Chizhkov')
(2, 'Ivan', 'Pushkov')

In [189]:
# card LEFT JOIN body ON card.id_body = body.id_body
def all_diagnosis_from_doctor(dictionary):
    command = "SELECT diagnosis.name FROM card LEFT JOIN diagnosis ON card.id_diagnosis = diagnosis.id_diagnosis WHERE id_doctor={id_doctor}".format(**dictionary)
    print(command)
    Cursor.execute(command)
    for i in Cursor:
        print(i)

In [190]:
all_diagnosis_from_doctor({'id_doctor':1})

SELECT diagnosis.name FROM card LEFT JOIN diagnosis ON card.id_diagnosis = diagnosis.id_diagnosis WHERE id_doctor=1
(None,)
(None,)
(None,)